*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color: #fff;
  }
  html, body{
    height: 100%;
    width: 100%;
  }

  *::selection{
    background-color: #fff;
    color: #e5dd4d;
  }
  body::-webkit-scrollbar{
      width: 8px;
      background-color: #000;
      border-left: 2px solid #FDF22E;
  }
  body::-webkit-scrollbar-thumb{
     background-color: #FDF22E;
     border-radius: 20px;
  }
  #navbar{
    height: 15vh;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0 15vh;
    z-index: 999;
    justify-content: space-between;
    position: fixed;
  z-index: 999999;
}
.img{
    height: 12vh;
    width: 15vh;
    overflow: hidden;
}
.img img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
}
.link{
    display: flex;
    gap: 80px;
}
.link a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.right{
   display: flex;
}
.right a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navbar a:hover{
    background-color: #fdf32e79;
    transition: linear ease-in 0.2;
    animation-fill-mode: backwards;
}
#cursor{
    height:25px ;
    width: 25px;
    position: fixed;
    border-radius: 50%;
    background-color: #fdf32ecf;
    z-index: 99;
}
#cursor-blur{
    height:350px;
    width: 350px;
    position: fixed;
    border-radius: 50%;
    background-color: #d9de365d;
    filter: blur(50px);
    z-index: 9;
}
video{
    height: 100%;
    width: 100%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
}
#main{
  position: relative;
  background-color: rgba(0, 0, 0, 0.372);
  overflow: hidden;
}
  #page1{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    z-index: 10;
  }
  #page1 h1{
   font-size: 140px;
   font-weight: 900;
   text-transform: uppercase;
   position: relative;
   width: 80%;
  }
  #page1 h1::before{
    content: "your. world. of. gaming.";
    position: absolute;
    color: black;
    top: -5.5px;
    left: -5px;
    z-index: -1; 
    -webkit-text-stroke: 1px #FDF22E;
  }
  #page1 h2{
    font-size: 35px;
    font-weight: 1000;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  #page1 h2{
    font-size: 20px;
    font-weight: 500;
    width: 40%;
  }
  #page1 p{
    width: 40%;
  }
  #page1 #arrow{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 3px solid #FDF22E;
    position: absolute;
    text-align: center;
    font-weight: 100;
    left: -2%;
    bottom: 0.5%;
  }
  #arrow i{
    position: absolute;
    top: 30%;
    left: 30%;
    font-size: 70px;
    font-weight: 100;
  }
  #arrow:hover{
      scale: 0.3;
      background-color: #c1b922;
  }
  #page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
  }
  #scroller{
    position: relative;
    background-color: transparent;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 10;
  }
  #scroller::-webkit-scrollbar{
    display: none;
  }
  #scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  #scroller h4{
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    margin-right: 10px;
    color: black;
    font-family: gilroy;
   transition: all linear 0.3s;
    -webkit-text-stroke: 2px #fff;
  }
  #scroller h4:hover{
    color: #f7f072b1;
    -webkit-text-stroke: 2px #f7f0728d;
  }
  @keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
  }
  #about-us{
    position: relative;
    height: 40vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
  }
  #img-left{
    height: 200px;
    width: 200px;
    border-radius: 15px;
    object-fit: cover;
    z-index: 9999;
  }
  #img-right{
    height: 260px;
    width: 200px;
    border-radius: 15px;
    object-fit: cover;
  }
  #about-us-i{
    height: 250px;
    width: 50px;
  }
  #about{
    width: 53%;
    text-align: center;
  }
  #about h3{
    font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 25px;
  }
  #about p{
    font-size: 22px;
    line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  }
#img img{
    height: 25vh;
    width: 25vh;
    position: absolute;
    left:2%;
   top: 25.5%;
}
  #card-continer{
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    overflow: hidden;
  }
  .card{
    height: 80%;
    width: 25%;
    border-radius: 25px;
    background-size: cover;
    background-position: center;
  }
  .card::before{
    top: -20%;
    left: -20%;
}
.card video{
   border-radius: 25px;
} 

.card h1{
    font-size: 40px;
    text-align: left;
    margin-left: 20px;
    top: 75%;
    position: relative;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 45px;
    transition: all ease 0.7s;
  }
  #card1 h1{
    margin-top: 30px;
  }
  #card2 h2{
    position: relative;
    font-weight: 900;
    top: 74%;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }
  #card3 h1{
    margin-top: 30px;
  }
  .overlay{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background-color: #FDF22E;
    position: relative;
    transition: all ease 0.7s;
    opacity: 0;
    overflow: hidden;
  }
  .overlay h3{
    font-size: 40px;
    font-weight: 999;
    padding-left: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
  }
  .overlay p{
    font-size: 18px;
    padding-left:30px;
    padding-top: 30px;
    padding-right: 30px;
    color: #000;
  }
  .icon{
    position: relative;
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    border: 2px solid black;
    left: 75%;
    top: -2.5%;
  }
  .icon a{
    text-decoration: none;
  }
  .icon i{
   text-align: center;
   position: relative;
   font-weight: -50;
   font-size: 50px;
   top: 15%;
   left: 25%;
   color: #000000;
   z-index: 10;
  }
  .card:hover .overlay{
    opacity: 1;
  }   
  .icon:hover{
    background-color: #fff;
  }
  #green-div{
    height: 40vh;
    width: 100%;
    /* background-color: #95c11e; */
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #FDF22E, #f3ec1b );
  }
  #green-div img{
    height: 170%;
    width: 20%;
    position: relative;
  }
  #left{
   rotate: 180deg;
   position: relative;
   left: -3%;
  }
  #right{
    position: relative;
    right: -3%;
  }
  #green-div h4{
    font-size: 30px;
    text-align: center;
    margin-top: 100px;
    font-weight: 900;
    color: #000;
  }
  #swiper-pick-text{
    height: 80vh;
    width: 100%;
    position: relative;
   display: flex;
  justify-content: space-between;
  gap: 110px;
  }
  .swiper {
    width: 80%;
    height: 80%;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 120px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-pagination-bullet{
    background-color: #FDF22E;
    width: 15px;
    height: 15px;
  } 
  .swiper{
    --add-bottom: 50px;
    padding-bottom: var(--add-bottom);
  }
  .swiper [class^="swiper-button-"]{
    top: calc(50% - var(--add-bottom) / 2);
  }
  
  .alltext h2{
    font-size: 50px;
    text-align: left;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 120px;
    margin-bottom: 25px;
  }
  .alltext p{
    width: 80%;
    font-size: 22px;
    font-weight: 50;
    line-height: 37px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .alltext button{
    padding: 15px 35px;
    color: #fff;
    background-color: transparent;
    font-size: 15px;
    font-weight: 500;
    border-radius: 50px;
    border: 3px solid #cdc53c;
    text-align: center;
    margin-top: 25px;
  }
#page3{
    height: 50vh;
    width: 100%;
    position: relative;
    background-color: #000;
}  
#swipers{
    height: 70vh;
    width: 60%;
    position: relative;
    left: 12%;
  }
  #wrappers{
  background: transparent;
  }
  #page3 p{
    font-size: 32px;
    font-weight: 800;
    color: #fff;
    line-height: 40px;
  }
  #page3 img{
    height: 40px;
    position: absolute;
  }
  #colon1{
    top: 18%;
    left: 15%;
  }
  #colon2{
    top: 90%;
    right: 15%;
    z-index: 99;
  }
  #img1 img{
    height: 25vh;
    width: 25vh;
    position: absolute;
   margin-top: 400px;
  left: 8%;
  }
  #page4{
    height: 50vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #000;
  }
  #boxs{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 30px;
  }
  .box{
    position: relative;
    height: 22vh;
    width: 26%;
    background-color: #FDF22E;
    border-radius: 20px;
    margin-top: 50px;
    overflow: hidden;
  }
  .box h2{
    height: 100%;
    width: 100%;
    position: absolute;
    font-size: 40px;
    color: #000;
    text-align: center;
    align-self: center;
    background-color:#FDF22E;
    z-index: 10;
    font-weight: 900;
    justify-content: center;
    padding-top: 50px;
    transition: all ease 0.5s;
  
  }
  .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;
    scale: 1.2;
  }
  .box h2:hover{
    color: #fff;
    background-color: transparent;
  }
  .box h2:hover img{
    scale: 1;
  }
  #page4 h1{
    font-size: 83px;
    position: relative;
    display: inline-block;
    top: 15%;
    color: #000;
    left: 7.5%;
    font-weight: 900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 1px #fff;
  }
  /* #page4 .box h2 :hover #page4 h1{
    -webkit-text-stroke: #95C11E;
  } */
  